.header {
  background: #eee;
}

.text {
  color: white;
}

.text_res {
  color: white;
  font-size: 60px;
}


.main {
  padding: 10px;
  background-color: #282c34;
  height: 90vh;
  overflow: auto;
}

.main-component, .other-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.main-btn {
  margin: 20px;
  padding: 10px 20px;
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.main-btn:hover {
  background-color: white; 
  color: rgb(0, 0, 0); 
}

.values {
  margin: 20px 0;
}

.value {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: white;
  color: black;
}


.frame {
  color: white;
  flex: 1; 
  aspect-ratio: 1/1;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 80px;
  transition-duration: 0.2s;
  width: 140px;
}

.frame:hover {
  background-color: #3a4150;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.text {
  text-align: center;
}




.App {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  color: #2c3e50;
  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.button {
  width: 180px;
  display: inline-block;
  align-items: center;
  margin: 0.5rem auto;
  padding: 1rem;
  text-align: center;
  background-color: #4CAF50;
  border: none;
  color: white;
  transition-duration: 0.4s;

}

.button:hover {
  background-color: white;
  color: black;
}

.row {
  display: flex;
  justify-content: center;
}
